@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);

@font-face {
  font-family: adam;
  src: url('adam.otf');
}

html, body {
  height: 100%;
  max-height: 100%;
  /*overflow: hidden;*/
  color: #ccc;
  font-family: 'Open Sans';
}

html.dark-text {
  color: #333;
}

body.dark-text {
  color: #333;
}

h1 {
  margin: 0;
  font-size: 23px;
  font-family: adam;
}

a {
  text-decoration: none;
  color: #ccc;
}

a.dark-text {
  color: #333;
}

a.nav-link {
  font-size: 18px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding: 0;
}

.homepage-container {
  width: 100%;
  height: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.5s ease-in-out;
}

.subnav-container {
  margin-left: 10px;
  max-height: 0;
  transition: max-height 1s ease-out;
  overflow: hidden;
}

.subnav-container.active {
  max-height: 500px;
  transition: max-height 1s ease-in;
}

.sub-link {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

.sub-link.active::after {
  content: ' ';
  display: inline-block;
  background-image: url('../img/icons/portfolio_icon_light.gif');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 24px;
  margin-left: 5px;
  vertical-align: top;
}

.sidebar-container {
  position: fixed;
  display: inline-block;
  width: 246px;
  vertical-align: top;
  height: 100%;
  padding: 40px 15px 26px;
  box-sizing: border-box;
}

.social-media-container {
  position: absolute;
  bottom: 0;
  width: 216px;
  padding-bottom: 25px;
}

.social-media-container ul {
  text-align: center;
  margin-bottom: 6px;
}

.social-media-icon:nth-child(1) {
  margin-left: 0;
}

.social-media-icon {
  display: inline;
  margin-left: 11px;
}

.social-media-email {
  text-align: center;
}

.social-media-email a {
  font-weight: 400;
  font-size: 12px;
}

.content-container {
  opacity: 1;
  position: absolute;
  background: transparent;
  display: inline-block;
  width: calc(100% - 246px);
  margin-left: 246px;
  min-height: 100%;
  vertical-align: top;
  overflow: scroll;
  transition: opacity 0.5s;
}

/*.content-container p {
  position: absolute;
  vertical-align: bottom;
  text-align: center;
  background: #fff;
  opacity: 0.7;
  width: 100%;
  height: 300px;

}*/

.content-container.hidden {
  display: hidden;
}

.port-story.hidden {
  display: hidden;
}

.port-story {
  position: fixed;
  bottom: 0;
  width: calc(100% - 246px);
  margin-left: 246px;
  overflow: hidden;
  height: auto;
  max-height: 300px;
  box-sizing: border-box;
  padding: 1em 2em 1em 2em;
  background: white;
  opacity: 0.9;
}

.close {
  position: fixed;
  margin-top: -5px;
  right: 20px;
}

#mygallery {
  background: blue;
}

#mygallery.hidden {
  display: none;
}

.singleImage {
  position: absolute;
  width: calc(100% - 246px);
  margin-left: 246px;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  padding: 1em 2em 1em 2em;
  background: green;
}

.singleImage.hidden {
  display: none;
}