{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}

    <div class="homepage-container">
      <div class="sidebar-container">
        <div class="navigation-container">
          <a class="mobile-menu-button" href=""><img src="./img/icons/mobile_menu.png"></a>
          <h1><a href="../poop/index.html">Megan Thompson</a></h1>

          <ul class="nav-menu">
          </ul>
        </div>
        <div class="social-media-container">
          <ul>
            <li class="social-media-icon">
              <a class="insta" href="www.instagram.com/meganpicturetaker" target="_blank">
                <img class="smi-image" src="./img/icons/insta_icon.png" alt="Instagram" />
              </a>
            </li>
            <li class="social-media-icon">
              <a class="twitter" href="www.twitter.com" target="_blank">
                <img class="smi-image" src="./img/icons/twitter_icon.png" alt="twitter" />
              </a>
            </li>
            <li class="social-media-icon">
              <a class="tumblr" href="www.tumblr.com" target="_blank">
                <img class="smi-image" src="./img/icons/tumblr_icon.png" alt="tumblr" />
              </a>
            </li>
            <li class="social-media-icon">
              <a class="vimeo" href="www.twitter.com" target="_blank">
                <img class="smi-image" src="./img/icons/vimeo_icon.png" alt="vimeo" />
              </a>
            </li>
            <li class="social-media-icon">
              <a class="facebook" href="www.facebook.com" target="_blank">
                <img class="smi-image" src="./img/icons/facebook_icon.png" alt="facebook" />
              </a>
            </li>
          </ul>
          <div class="social-media-email">
            <a href="poop.com">meganpicturetaker@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="single-image-container hidden">
        <div class="single-image">
          <div class="vimeo-wrapper">
            <iframe id="vimeo-full" src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="single-image-wrapper">
            <a href="">
              <div class="curl">
              </div>
            </a>
            <img id="image-full" src="" />
            <div class="img-story hidden">
              <div id="story-horizontal">
                <div id="story-vertical">
                </div>
                <div class="img-story-text">
                  <p class="close-single-image">
                    <a class="port-close" href="">X</a>
                </p>
                 <p id="single-image-story-text">
                 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mygallery" class="content-container hidden">
      </div>
      <div class="port-story hidden">
        <p class="close">
          <a class="port-close" href="">X</a>
        </p>
        <p id="port-story-text"></p>
      </div>
      <div class="single-image-nav-container hidden">
        <div class="single-image-nav-icons">
          <ul>
            <li class="image-nav-icon">
              <a class="previous" href="">
                <img src="./img/icons/left_arrow.jpg" alt="Previous" />
              </a>
            </li>
           <li class="image-nav-icon">
              <a class="index" href="">
                <img src="./img/icons/return_to_port_icon.jpg" alt="Return to Portfolio" />
              </a>
            </li>
            <li class="image-nav-icon">
              <a class="next" href="">
                <img src="./img/icons/right_arrow.jpg" alt="Next" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


{% endblock %}
